#header {
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    width: 100%;
    background: linear-gradient(to right, #ffd700, #000000);
    color: #fff;
}

#announce {
    background-color: #f9d759;
    color: black;
}
